

@font-face {
  font-family: "Raleway"; 
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family:"Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  
}

/* button */
.button {
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background: #FFE17F;
}


/*visually-hidden*/

.visually-hidden{
   position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.page-header {
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;
  color: #000000;


}
/*navigation*/
.navigation {
  display: flex;
  flex-direction: column;

  
}

.header-container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px;
}




.navigation-page {
  display: flex;

}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.navigation-login {
  display: flex;
  width: 231px;
  margin-right: 26px;
}

.navigation-search {
  width: 517px;
  margin-right: 26px;
}

.menu-user {
  display: flex;
  width: 240px;
  gap: 36px;
}

.navigation-user {
  margin-bottom: 30px;
}


.navigation-link-user {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}
.navigation-link-main {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}
  
.navigation-visual{
  min-width: 10px;
  min-height: 12px;
}  



.navigation-list-main {
  width: 293px;
  margin-right: 270px;
}

.navigation-list-login {
  display: flex;
  width: 230px;
  gap: 28px;
}

.main-menu {
  display: flex;
  width: 471px;
  gap: 40px;
}




/*main carusel*/
.page-container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.main-carusel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-top: 0;
  
}
.main-carusel-advantages-list {
  list-style-type: none;
} 

.slider-carusel {
  width: 560px;
}

.main-carusel-advantages-list {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 307px;
}



.carusel-page-title {
  font-family: 'Rubik', sans-serif;
  position: absolute;
   display: block;
align-items: center;
  text-align: right;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  padding-top: 29px;
  


 

  
}

.main-container {
  flex-grow: 1 ;

}
.main-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 29px;

  
}
.main-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 50px;
}

.carusel-advanages-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}
.carusel-advanages-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;x
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}
/*catalog-category*/
.catalog-category-list{
  margin-bottom: 70px;
}
.catalog-category-item{
  display: grid;
  grid-template-columns: repeat(6,160px );
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 40px;

 
}

.image-container {
    width: 160px;
    height: 160px;
    background-color:  #FFE17F;;
    display: flex;
    justify-content: center;
    align-items: center;


}




.category-catalog-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  letter-spacing: -0.02em;
}
.catalog-category-link {
  text-decoration: none;
}
/*privileges*/
.privileges {
 
display: flex;
  align-items: center;
  padding: 0;
  gap: 116px;
  margin-bottom: 70px; 

}

.privileges-list {
   margin: 0;
   padding: 0;
   width: 287px;
   list-style-type: none;
  
}


.privileges-info-list {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 694px;
  gap: 106px;
  list-style-type: none;
}

.priveleges-selected {
  color: #FFE17F;
  background-color: #000000;
}
.priveleges-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #ffffff;
}
.priveleges-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #F0F0F0;
}


/*delivery*/
.delivery {
  margin-bottom: 70px;
}
.delivery-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  color: #000000;
  background: #F0F0F0;
  list-style-type: none;
}

.delivery-pic {
  background: #FFE17F;
}
.delivery-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/*about*/

/*abou-us*/


.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  gap: 108px;

}
.about-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 48px;
}
.about-desc {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.about_us-item {
  font-family: 'Rubik' , sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

/*contact*/

.contact-desk {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;

} 
.contact-address {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-top: 15px;

}

.contact-phone {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.contact-oper_time {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contact-time{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #444444;
margin-bottom: 30px;
}

/*mailing*/




.mailing {
  color: #000000;
  background:#F0F0F0;
  display: flex;
  gap: 252px;
  margin-bottom: 144px;

}

.mailing-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 64px;
}
.mailing-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-top: 74px;
}


.mailing-cards {
  color: #000000;
  background: #F0F0F0;
}
.page-wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.button-subcribe {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
}

.notification {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

/*footer*/

.main-footer{
  color: #ffffff;
  background: #444444;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;

}

.footer-address-logo{
  padding-top: 62px;
  padding-bottom: 35px;
}


.footer-address-contacts {
  min-width: 239px;
  margin-right: 119px;
}

.footer-menu {
  width: 444px;
  margin-right: 183px;
}

.main-footer-contact {
  min-width: 175px;
  margin-right: 140px;
  margin-top: 140px;
}


.about-text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.main-footer-menu-link {
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #FFFFFF;
}

.main-footer-menu-list{
  display: flex;
  gap: 35px;
  padding-top: 136px;
  padding-bottom: 62px;
  list-style-type: none;
}

.main-footer-contact-phone {
  font-family: 'Rubik' , sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-bottom: 62px;
  


}



.main-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}



.login-link-user {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000; 
  opacity: 0.3;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 55px;
  margin-bottom: 16px;
  width: 541px;
}

.main-inner{
width: 100%;
  margin: 0 auto;
  max-width: 1160px;
  color: #000000;

}

.inner-container {
  min-width: 1079px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breacrumbs-link {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  margin-right: 36px;
}

.catalog-products-filter {
  width: 200px;
  margin-right: 60px;
}

.Filter-products {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.main-catalog {
  display: flex;
  color: #000000;
  background: #F0F0F0;
}

.catalog-sort {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
}

.catalog-right-column {
 
  width: 840px;
}

.main-cards {
  color: #000000;
  background: #FFFFFF;
  padding-bottom: 78px;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000; 
  background-color: #ffffff;
}
.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.pagination {
  color: #444444;
  background: #EBEBEB;
}

.pagination-link-selected {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.6;
}

.pagination-text {
  font-family: 'Raleway', sans-serif;
  
  padding: 25px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #444444;
  opacity: 0.3;

}

.inner-header{
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;
}

.inner-header-wrapper {
  display: flex;
  flex-direction: column;
   width: 1070px;
  margin: 0 auto;
  

}

.pagination-link {
  font-family: 'Rubik', sans-serif;
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link-next {
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  
  text-decoration: none;
  color: #000;

}
.main-sort {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.button-hidden{
  width: 30px;
  height: 30px;
}

.pagination-show-more{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 39px;
  border: 3px solid #E5E5E5;

}

.pagination-more{
  width: 760px;
  margin: 0 40px;
}

.pagination {
  display: flex;
justify-content: space-between;
align-items: center;
width: 760px;
margin: 44px 40px;

}

.pagination-item-list{
  display: flex;
  width: 40px;
  height: 40px;
  list-style-type: none;
}


.product-list{
  display: grid;
  grid-template-columns: repeat(2,360px);
  list-style-type: none;
  margin: 0;

  padding: 0;
  padding-top: 70px;
  padding-bottom: 44px;
  padding-left: 40px;
  gap: 40px;

}


