body {
  font-family:"Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
}


@font-face {
  font-family: "Raleway"; 
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
.page-header {
  color: #000000;
  background: #ffffff;

}

.navigation-link-user {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}
.navigation-link-main {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}
.carusel-page-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
}
.main-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #ffffff;
}
.main-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.main-more {
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 21px;
 text-align: center;
 text-transform: uppercase;
 color: #000000;
 background: #FFE17F;
 text-decoration: none;
}
.carusel-advanages-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.carusel-advanages-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.category-catalog-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}
.catalog-category-link {
  text-decoration: none;
}
.privileges-link {
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background: #FFE17F;
}
.priveleges-selected {
  color: #FFE17F;
  background-color: #000000;
}
.priveleges-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #ffffff;
}
.priveleges-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #F0F0F0;
}

.delivery {
  color: #000000;
  background: #F0F0F0;
}

.delivery-pic {
  background: #FFE17F;
}
.delivery-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.about-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #ffffff;
}
.about-desc {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}
.about_us-item {
  font-family: 'Rubik' , sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.about_us-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contact-desk {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
} 
.contact-address {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contact-phone {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.contact-oper-time {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.mailing {
  color: #000000;
  background:#F0F0F0;
}

.mailing-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.mailing-subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.mailing-cards {
  color: #000000;
  background: #F0F0F0;
}
.button-subcribe {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
}

.notification {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.main-footer {
  color: #ffffff;
  background: #444444;
}

.about-text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.main-footer-menu-link {
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.main-footer-contact-phone {
  font-family: 'Rubik' , sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;

}

.login-link-user {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000; 
  opacity: 0.3;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breacrumbs-link {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
}

.Filter-products {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.main-catalog {
  color: #000000;
  background: #F0F0F0;
}

.catalog-sort {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
}

.main-cards {
  color: #000000;
  background: #FFFFFF;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000; 
  background-color: #ffffff;
}
.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.pagination {
  color: #444444;
  background: #EBEBEB;
}

.pagination-link-selected {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.6;
}

.pagination-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #444444;
  opacity: 0.3;

}

.pagination-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link-next {
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}